<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="Lumír Balhar">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cisco ACL checker</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
      <div class="container">
        <h1>Cisco ACL Analyzer</h1>
        <p>Create packet and paste your ACL to analyze which rule affects packet.</p>
        <small>If you like this project, you can find it on <a href="https://bitbucket.org/frenzymadness/cisco-acl" target="_blank">BitBucket</a> or <a href="https://github.com/frenzymadness/Cisco-ACL-Analyzer" target="_blank">GitHub</a>.</small>
      </div>
    </div>
  <form class="form-inline" id="mainform" method="POST" action="/result">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2>Packet source</h2>
          <select class="form-control" name="protocol">
            <option value="tcp">TCP</option>
            <option value="udp">UDP</option>
            <option value="icmp">ICMP</option>
          </select>
          <input type="text" id="srcIP" name="srcIP" placeholder="IP" value="">:<input type="text" id="srcPort" name="srcPort" placeholder="port or empty for random" value="">
        </div>
        <div class="col-md-2">
          <br/>
          <br/>
          <br/>
          <button id="switch" type="button" class="btn btn-default">&lt;&lt;  switch  &gt;&gt;</button>
        </div>
        <div class="col-md-5">
          <h2>Packet destination</h2>
          <input type="text" id="dstIP" name="dstIP" placeholder="IP" value="">:<input type="text" id="dstPort" name="dstPort" placeholder="port or empty for random" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>ACL rules</h2>
          <textarea class="form-control" name="acl" cols="80" rows="20"></textarea><br/><br/>
          <input type="reset" class="btn btn-danger" value="Reset" />
          <input type="submit" class="btn btn-primary" name="analyze" value="Analyze ACL" />
        </div>
        <div class="col-md-6">
          <h2>Result</h2>
          <div id="result" ></div>
        </div>
      </div>
    </div>
  </form>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $$( document ).ready(function() {
    $$("#mainform").submit(function(e)
    {
          e.preventDefault(); //STOP default action

          // load dynamic content and paste to document
          var postData = $$(this).serializeArray();
          var formURL = $$(this).attr("action");
          $$.ajax(
          {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR)
            {
              $$( '#result' ).html(data);
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
              $$( '#result' ).html(jqXHR.responseText)
            }
          });
          return false;
    });

    //switch content of packet inputs
    $$("#switch").click(function()
    {
      var srcIP = $$("#srcIP").val();
      var srcPort = $$("#srcPort").val();  
      
      $$("#srcIP").val($$("#dstIP").val());
      $$("#srcPort").val($$("#dstPort").val());
      $$("#dstIP").val(srcIP);
      $$("#dstPort").val(srcPort);
    });
  });
</script>
</body>
</html>
